{
	admin 0.0.0.0:2019
	http_port 2010
	servers :2015 {
		listener_wrappers {
			http_redirect
			tls
		}
	}
}
https://localhost:2015 {
	encode zstd gzip
	log

	handle /api/* {
		reverse_proxy go:3000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
